@page "/admin/users"
@using MicroBoss.Application.DTOs
@using MicroBoss.Application.Interfaces
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer

<PageTitle>使用者管理 - MicroBoss</PageTitle>

<h4>使用者管理</h4>

<div class="mb-3">
    <DxButton Text="新增使用者" RenderStyle="ButtonRenderStyle.Primary" Click="@ShowCreateForm" />
</div>

@if (_accounts == null)
{
    <p>載入中...</p>
}
else
{
    <DxGrid Data="@_accounts" ShowFilterRow="true" PageSize="20">
        <Columns>
            <DxGridDataColumn FieldName="@nameof(AccountDto.Id)" Caption="帳號" />
            <DxGridDataColumn FieldName="@nameof(AccountDto.UserName)" Caption="姓名" />
            <DxGridDataColumn FieldName="@nameof(AccountDto.Email)" Caption="Email" />
            <DxGridDataColumn FieldName="@nameof(AccountDto.RoleName)" Caption="角色" />
            <DxGridDataColumn FieldName="@nameof(AccountDto.IsEnabled)" Caption="啟用">
                <CellDisplayTemplate>
                    @(((AccountDto)context.DataItem).IsEnabled ? "是" : "否")
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="@nameof(AccountDto.LastLoginTime)" Caption="最後登入" DisplayFormat="yyyy/MM/dd HH:mm" />
            <DxGridDataColumn Caption="操作" Width="220px">
                <CellDisplayTemplate>
                    @{ var account = (AccountDto)context.DataItem; }
                    <DxButton Text="編輯" RenderStyle="ButtonRenderStyle.Secondary" Click="@(() => ShowEditForm(account))" />
                    <DxButton Text="重設密碼" RenderStyle="ButtonRenderStyle.Warning" Click="@(() => ShowResetPassword(account))" />
                    <DxButton Text="刪除" RenderStyle="ButtonRenderStyle.Danger" Click="@(() => DeleteAccount(account))" />
                </CellDisplayTemplate>
            </DxGridDataColumn>
        </Columns>
    </DxGrid>
}

<!-- Create/Edit Popup -->
<DxPopup @bind-Visible="@_showForm" HeaderText="@(_isEditing ? "編輯使用者" : "新增使用者")" Width="500px">
    <BodyContentTemplate Context="_popupContext">
        @if (!string.IsNullOrEmpty(_formError))
        {
            <div class="alert alert-danger">@_formError</div>
        }
        <DxFormLayout>
            @if (!_isEditing)
            {
                <DxFormLayoutItem Caption="帳號" ColSpanMd="12">
                    <Template Context="_">
                        <DxTextBox @bind-Text="@_createDto.UserId" />
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="密碼" ColSpanMd="12">
                    <Template Context="_">
                        <DxTextBox @bind-Text="@_createDto.Password" Password="true" />
                    </Template>
                </DxFormLayoutItem>
            }
            <DxFormLayoutItem Caption="姓名" ColSpanMd="12">
                <Template Context="_">
                    @if (_isEditing)
                    {
                        <DxTextBox @bind-Text="@_updateDto.UserName" />
                    }
                    else
                    {
                        <DxTextBox @bind-Text="@_createDto.UserName" />
                    }
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Email" ColSpanMd="12">
                <Template Context="_">
                    @if (_isEditing)
                    {
                        <DxTextBox @bind-Text="@_updateDto.Email" />
                    }
                    else
                    {
                        <DxTextBox @bind-Text="@_createDto.Email" />
                    }
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="角色" ColSpanMd="12">
                <Template Context="_">
                    @if (_isEditing)
                    {
                        <DxComboBox Data="@_roles" @bind-Value="@_updateDto.RoleName"
                                    TextFieldName="@nameof(RoleDto.Name)"
                                    ValueFieldName="@nameof(RoleDto.Name)"
                                    NullText="請選擇" />
                    }
                    else
                    {
                        <DxComboBox Data="@_roles" @bind-Value="@_createDto.RoleName"
                                    TextFieldName="@nameof(RoleDto.Name)"
                                    ValueFieldName="@nameof(RoleDto.Name)"
                                    NullText="請選擇" />
                    }
                </Template>
            </DxFormLayoutItem>
            @if (_isEditing)
            {
                <DxFormLayoutItem Caption="啟用" ColSpanMd="12">
                    <Template Context="_">
                        <DxCheckBox @bind-Checked="@_updateIsEnabled" />
                    </Template>
                </DxFormLayoutItem>
            }
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate Context="_popupFooter">
        <DxButton Text="取消" RenderStyle="ButtonRenderStyle.Secondary" Click="@CloseForm" />
        <DxButton Text="儲存" RenderStyle="ButtonRenderStyle.Primary" Click="@SaveAccount" />
    </FooterContentTemplate>
</DxPopup>

<!-- Reset Password Popup -->
<DxPopup @bind-Visible="@_showResetPassword" HeaderText="@($"重設密碼 - {_selectedAccount?.UserName}")" Width="400px">
    <BodyContentTemplate Context="_popupContext">
        <DxFormLayout>
            <DxFormLayoutItem Caption="新密碼" ColSpanMd="12">
                <Template Context="_">
                    <DxTextBox @bind-Text="@_newPassword" Password="true" />
                </Template>
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate Context="_popupFooter">
        <DxButton Text="取消" RenderStyle="ButtonRenderStyle.Secondary" Click="@(() => _showResetPassword = false)" />
        <DxButton Text="確認" RenderStyle="ButtonRenderStyle.Primary" Click="@DoResetPassword" />
    </FooterContentTemplate>
</DxPopup>

@code {
    [Inject] private IAccountService AccountService { get; set; } = default!;

    private List<AccountDto>? _accounts;
    private List<RoleDto>? _roles;
    private bool _showForm;
    private bool _isEditing;
    private bool _showResetPassword;
    private string? _formError;
    private string? _editingId;
    private string _newPassword = "";
    private AccountDto? _selectedAccount;
    private CreateAccountDto _createDto = new();
    private UpdateAccountDto _updateDto = new();
    private bool _updateIsEnabled = true;

    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountService.GetAllAccountsAsync();
        _roles = await AccountService.GetAllRolesAsync();
    }

    private void ShowCreateForm()
    {
        _isEditing = false;
        _createDto = new CreateAccountDto { IsEnabled = true };
        _formError = null;
        _showForm = true;
    }

    private void ShowEditForm(AccountDto account)
    {
        _isEditing = true;
        _editingId = account.Id;
        _updateDto = new UpdateAccountDto
        {
            UserName = account.UserName,
            Email = account.Email,
            RoleName = account.RoleName,
            IsEnabled = account.IsEnabled
        };
        _updateIsEnabled = account.IsEnabled;
        _formError = null;
        _showForm = true;
    }

    private void ShowResetPassword(AccountDto account)
    {
        _selectedAccount = account;
        _newPassword = "";
        _showResetPassword = true;
    }

    private void CloseForm() => _showForm = false;

    private async Task SaveAccount()
    {
        try
        {
            if (_isEditing)
            {
                _updateDto.IsEnabled = _updateIsEnabled;
                await AccountService.UpdateAccountAsync(_editingId!, _updateDto);
            }
            else
            {
                await AccountService.CreateAccountAsync(_createDto);
            }
            _showForm = false;
            _accounts = await AccountService.GetAllAccountsAsync();
        }
        catch (Exception ex)
        {
            _formError = ex.Message;
        }
    }

    private async Task DeleteAccount(AccountDto account)
    {
        await AccountService.DeleteAccountAsync(account.Id);
        _accounts = await AccountService.GetAllAccountsAsync();
    }

    private async Task DoResetPassword()
    {
        if (_selectedAccount != null && !string.IsNullOrEmpty(_newPassword))
        {
            await AccountService.ResetPasswordAsync(_selectedAccount.Id, _newPassword);
            _showResetPassword = false;
        }
    }
}
